<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Ana Sayfa</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/cars">Arabalar</a>
          </li>
          <li *ngIf="isAuthenticated()"  class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Yönetici
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/admin/cars">Arabalar</a></li>
              <li><a class="dropdown-item" routerLink="/admin/colors">Renkler</a></li>
              <li><a class="dropdown-item" routerLink="/admin/brands">Markalar</a></li>
              <li><a class="dropdown-item" routerLink="/admin/rentals">Kiralamalar</a></li>
              <li><a class="dropdown-item" routerLink="/admin/customers">Müşteriler</a></li>
            </ul>
          </li>
          <li *ngIf="!isAuthenticated()"  class="nav-item dropdown">
            Yönetaaaaaa
          </li>
          <img src="https://i.resmim.net/1mFTU.png"  routerLink="/" width="250" height="40" style="margin-left: 186px;" >
          <form class="d-flex d-grid gap-2 " style="margin-left: 208px;">
            <div *ngIf="!isAuthenticated()" >
              <button routerLink="/login" type="button" class="btn btn-outline-primary me-2">Giriş Yap</button>
              <button routerLink="/register" type="button" class="btn btn-outline-warning">Üye Ol</button>
            </div>
      
            <div *ngIf="isAuthenticated()" class="nav-item dropdown" style="margin-left: 10px; margin-right: 10px;">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ getCurrentUser().firstName }} {{ getCurrentUser().lastName }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/profile">Profilim</a></li>
                <li><a class="dropdown-item"  (click)="logout()">Çıkış Yap</a></li>
              </ul>
            </div>
          </form>
        </ul>
      </div>
    </div>
  </nav>
  <div>


  </div>