<!-- <ul class="list-group" style="margin: 5px">
  <li [class]="getAllBrandClass()" routerLink = "/cars">Tüm arabalar</li>
  <li (click)="setCurrentBrand(brand)"
    routerLink = "/cars/brands/{{brand.brandId}}"
    *ngFor="let brand of brands"
    [class]="getCurrentBrandClass(brand)"
  >
    {{ brand.brandName }}</li>
</ul> -->

 
  <select (change)="setCurrentBrand()" [(ngModel)]="selectedBrand" class="form-select">
    <option [ngValue]="allBrand" [selected]="allBrandSelected()" class="option">Tüm Markalar</option>
    <option *ngFor="let brand of brands" [ngValue]="brand" class="option">
      {{ brand.brandName }}
    </option>
  </select>