.d-grid button {
    border: 0;
    background:rgba(255, 255, 255, 0.425);
    display: block;
    text-align: center;
    border: 2px solid #383838;
    padding: 6px 30px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
  }