<img src="https://i.hizliresim.com/itczgs.png"  width="600" height="100" style="margin-left: 648px; margin-top: 20px;" >
<div class="d-grid gap-2 d-md-flex justify-content-center" style="margin-top: 50px; margin-left: 660px;" >
  
  <input type="date" 
  class="form-control" >

  <input type="date"   
  class="form-control" >

</div>
<div class="h3 mb-3 fw-normal"style="margin-left: 290px;">
  <button class="btn btn-primary" style="margin-left: 550px; margin-top: 20px;" routerLink="/cars">
    Araçlara Göz At
  </button>
</div> 



 