<div class="row">
  <div class="col-md-12">
      <app-filters></app-filters>
  </div>
    <div *ngFor="let car of cars" class="card bg-dark" style="width: 20rem; padding: 15px; margin:4px;">
      <img src="{{carImageBasePath}}{{getCarImage(car)}}" class="card-img-top" alt="{{car.description}} Image" width="300" height="200">
      <div  class="card-body bg-darks">
        <table class="table table-dark">
          <tbody>
            <tr class="table-active table-dark"></tr>
            <tr>
              <td colspan="2" class="table-active">Model:</td>
              <td>{{car.carName}}</td>
            </tr>
            <tr>
              <td colspan="2" class="table-active">Marka:</td>
              <td>{{car.brandName}}</td>
            </tr>
            <tr>
              <td colspan="2" class="table-active">Renk:</td>
              <td>{{car.colorName}}</td>
            </tr>
            <tr>
              <td colspan="2" class="table-active">Model Yılı:</td>
              <td>{{car.modelYear}}</td>
            </tr>
            <tr>
              <td colspan="2" class="table-active">Fiyat:</td>
              <td>{{car.dailyPrice}}</td>
            </tr>
          </tbody>
        </table>
      </div >
      <div class="btn-group" role="group" aria-label="Basic example">
        <button routerLink="/cars/car/{{car.carId}}" type="button" class="btn btn-light">Detaylar</button>
      </div>   
  </div>
</div>

