<div class="mb-3 "  style="margin-left: 20px;">
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arama ifadesi giriniz">
</div>
<table class="table table-dark table-hover" style="margin-left: 240px;">
    <thead>
      <tr>
        <th>Id</th>
        <th>Şirket</th>
        <th>Findeks Puanı</th>
        <th>
          <button type="button"  class="btn btn-success"  data-bs-toggle="modal"  data-bs-target="#Ekle"> Ekle</button>
        </th>
      </tr>
      </thead>

      <tbody>
        <tr *ngFor="let customer of customers |filterCustomer:filterText">
          <td>{{ customer.customerId}}</td>
          <td>{{ customer.companyName}}</td>
          <td>{{customer.FindeksScore}}</td>
          <td>
          <button type="button"  class="btn "  data-bs-toggle="modal" (click)="getCustomer(customer)" data-bs-target="#Sil"> Sil</button>
          <button type="button"  class="btn "  data-bs-toggle="modal" (click)="getCustomer(customer)" data-bs-target="#Guncelle"> Güncelle</button>
          </td>
          
      </tr>
  </tbody>
</table>

<div  class="modal fade" id="Sil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content ">
          <div class="modal-header">
              <h5 class="modal-title">Araba Kiralama</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Müşteri Silinecek Onaylıyor musunuz ?         
          </div>
          <div class="modal-footer">
              <button type="button" routerLink="/admin/customers" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
              <button type="button" routerLink="/admin/customers" class="btn btn-danger" onclick="location.reload()" (click)="delete()"   data-bs-dismiss="modal"> Sil</button>
          </div>
      </div>
  </div>
</div>

<div  class="modal fade" id="Guncelle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title">Araba Kiralama</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3">
              <label for="customerId" class="form-label">Müşteri Id</label>
              <input type="number" 
              disabled class="form-control" 
              id="customerId" 
              [value]="customerId">
            </div>
        <div class="mb-3">
          <label for="userId"  class="form-label">Kullanıcı Id</label>
          <input type="number" 
          class="form-control" 
          id="userId" 
          [(ngModel)]="userId">
        </div>
        <div class="mb-3">
          <label for="companyName"  class="form-label">Şirekt Adı</label>
          <input type="text" 
          class="form-control" 
          id="companyName" 
          [(ngModel)]="companyName">
        </div>  
        <div class="mb-3">
          <label for="FindeksScore"  class="form-label">Findeks Puanı</label>
          <input type="number" 
          class="form-control" 
          id="FindeksScore" 
          [(ngModel)]="FindeksScore">
        </div>    
      </div>
      <div class="modal-footer">
          <button type="button" routerLink="/admin/customers" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
          <button type="button"  class="btn btn-success" onclick="location.reload()" (click)="update()"   data-bs-toogle="modal"> Güncelle</button>
      </div>
    </div>
  </div>
</div>

<div  class="modal fade" id="Ekle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title">Araba Kiralama</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="userId"  class="form-label">Kullanıcı Id</label>
          <input type="number" 
          class="form-control" 
          id="userId" 
          [(ngModel)]="userId">
        </div>
        <div class="mb-3">
          <label for="companyName"  class="form-label">Şirekt Adı</label>
          <input type="text" 
          class="form-control" 
          id="companyName" 
          [(ngModel)]="companyName">
          <div class="mb-3">
            <label for="FindeksScore"  class="form-label">Findeks Puanı</label>
            <input type="number" 
            class="form-control" 
            id="FindeksScore" 
            [(ngModel)]="FindeksScore">
          </div> 
        </div>      
      </div>
      <div class="modal-footer">
          <button type="button" routerLink="/admin/brands" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
          <button type="button"  class="btn btn-success" onclick="location.reload()" (click)="add()"   data-bs-toogle="modal"> Ekle</button>
      </div>
    </div>
  </div>
</div>